.details {
  display: flex;
  margin-top: 40px;
}

.author {
  font-size: 20px;
  margin: 0 10px;
}

.date {
  font-style: italic;
  margin-left: 10px;
  font-size: 15px;
}

.image {
  cursor: pointer;
}

.reference {
  display: flex;
  flex-direction: column;
}
