.content {
  width: 95%;
  max-width: 60rem;
  margin: var(--size-8) auto;
  font-size: var(--size-5);
  line-height: var(--size-8);
  background-color: var(--color-grey-100);
  border-radius: 6px;
  padding: var(--size-4);
  margin-top: 100px;
}

.text {
  color: var(--color-grey-800);
}

.image {
  margin: var(--size-4) auto;
  width: 100%;
  max-width: 600px;
}

.codeLabel {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

@media (min-width: 768px) {
  .content {
    padding: var(--size-8);
  }
}
